include README.md
include MANIFEST.in
include requirements.txt
include setup.py

graft bin
graft docker-build
graft migrations
graft walm

global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.log