setuptools>=36.6.0

Flask>=0.11
flask-restplus>=0.10.0
Flask-Cors>=3.0.2
SQLAlchemy>=1.1.11
SQLAlchemy-Utils>=0.32.12
Flask-SQLAlchemy>=2.2
Alembic>=0.9.2
flask-script>=2.0.5
flask-migrate>=2.1.0

marshmallow>=2.13.5
flask-marshmallow>=0.7.0
marshmallow-sqlalchemy>=0.12.0
webargs>=1.4.0
apispec>=0.20.0
werkzeug>=0.11.15

six>=1.10.0
MySQL-python; python_version < '3.2'
PyMySQL>=0.8.0
mysqlclient; python_version >= '3.2'

gunicorn>=19.7.1
PyYAML>=3.12

# libappadapter>=0.3.2
# tdc_commons>=0.2.5
# tos-client>=1.0.0
